<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jesus C | Web Development</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <h2>Home</h2>
            <h2><a href="#about">About</a></h2>
            <h2>Projects</h2>
            <h2>Resume</h2>
        </nav>
    </header>
    <h1 id="name">Jesus Cruz Web Developer</h1>
    <div id="greetings">
        <p>Hello there!! Im a web developer that strives to provide great code and beautiful looking websites! Always looking to improve to give the best of the best.</p>
    </div>
</body>
</html>